@use '../utilities/variables';
@use '../utilities/extend';

.button {
    @extend %buttons;
    padding: 0 0 0 0;
}

.nav-link {
    @extend %nav-links;
}

.last-nav-link {
    @extend %nav-links;
    padding-bottom: 8px;
}

.form-button {
    @extend %buttons;
    padding: 6px 12px;
    border: 0;
}