@use '../utilities/variables';

html {
    background-color: variables.$bg-color;
    margin: 0 10px;

    body {
        background-color: variables.$bg-color;
        font-family: variables.$main-font;

        main {
            margin: 13px 0;

            h1 {
                color: variables.$text-color;
                margin-bottom: 20px;
                font-size: variables.$mobile-subheadings-size;
            }

            h3 {
                color: variables.$text-color;
                margin-bottom: 15px;
                font-size: variables.$mobile-subheadings-size;
            }

            p {
                color: variables.$text-color;
                margin: 0;
            }

            input[placeholder], textarea[placeholder] {
                font-family: variables.$arial;
            }

            figure {
                margin-bottom: 0;
            }

            .final-text {
                margin-top: 20px;
                margin-bottom: 0;
                text-align: center;
                font-size: 14px;
            }
        }

        .form-control:focus {
            border-color: #FF0000;
            box-shadow: 0 0 0 .25rem rgba($color: #FF0000, $alpha: .25);
        }
    }
}

// Media query: tablet
@media (min-width: 768px) {
    html {
        margin: 10px 8px 0;
    }
}

// Media query: desktop
@media (min-width: 992px) {
    html {
        margin: 10px 10px 0;

        body {

            main {
                
                h1 {
                    font-size: variables.$desktop-headings-size;
                }

                h3 {
                    font-size: variables.$desktop-subheadings-size;
                }

                p {
                    font-size: variables.$desktop-text-size;
                }

                .final-text {
                    font-size: 1.17em;
                }
            }
        }
    }
}