@use './variables';

%buttons {
    background-color: variables.$accent-color;
    color: variables.$text-color;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out;

    &:hover {
        color: variables.$bg-color;
    }
}

%nav-links {
    background-color: variables.$accent-color;
    color: variables.$text-color;
    text-decoration: none;
    text-align: right;
    // revisar paddings
    padding-top: 8px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

%news-desktop-content {
    border: variables.$border;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
}

