/* Fuente Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Nunito", sans-serif; */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000000;
    font-family: "Nunito", sans-serif;
    margin: 10px 7px 0;
}

/* Header */
header {
    border-bottom: 1px solid #8C0510;
}

.header-logo {
    display: flex;
    justify-content: center;
}

.header-logo img {
    width: 100px;
}

.header-mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-icons img {
    width: 40px;
}

.header-mobile {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 7px;
}

.header-desktop {
    display: none;
}

ul {
    list-style-type: none;
}

.desktop-current-page {
    color:#000000;
}

/* Main */
main {
    margin: 13px 0;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column-reverse;
    border-top: 1px solid #8C0510;
    padding: 10px;
    margin: 13px 0 14px;
    gap: 20px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer-copyright {
    color: #8C0510;
    font-size: 90%;
}

.footer-label {
    color: #FFFFFF;
}

/* General */
h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 24px;
}

h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 16px;
}

p {
    color: #FFFFFF;
    font-size: 14px;
}

input[placeholder] {
    font-family: Arial, sans-serif;
}

textarea[placeholder] {
    font-family: Arial, sans-serif;
}

a {
    background-color: #8C0510;
    color: #FFFFFF;
    text-decoration: none;
}

.final-text {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 14px;
}

/* Home */
.landing-hero-image {
    width: 100%;
}

.landing-text {
    text-align: justify;
}

/* Catalogue */
.catalogue {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, 1fr);
    gap: 21px 0px;
    justify-items: center;
}

.catalogue article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue-cars-images {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.catalogue-cars-images figure img {
    border-radius: 32px;
}

.catalogue-cars-front img {
    width: 275px;
    height: 206px;
}

.catalogue-cars-rear img {
    width: 46.25px;
    height: 206px;
}

/* News */
.news-mobile {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.news-mobile-titles {
    font-size: 14px;
    margin-bottom: 0;
}

.news-mobile-pictures img {
    width: 100%;
}

.news-mobile-content {
    border: 1px solid #8C0510;
}

.news-mobile-dates {
    font-size: 14px;
    text-align: right;
}

.news-desktop {
    display: none;
}

.news-desktop-headings {
    display: flex;
    justify-content: space-between;
}

.news-desktop-headings h3 {
    margin-bottom: 0;
}

.news-desktop-dates-left {
    text-align: left;
}

.news-desktop-dates-right {
    text-align: right;
}

.news-desktop-titles-left {
    text-align: left;
}

.news-desktop-titles-right {
    text-align: right;
}

.news-desktop-content-left {
    border: 1px solid #8C0510;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "image text";
    gap: 0px;
}

.news-desktop-content-right {
    border: 1px solid #8C0510;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "text image";
    gap: 0px;
}

.news-desktop-pictures img {
    width: 100%;
    grid-area: image;
    display: block;
}

.news-desktop-text-left {
    display: flex;
    align-items: center;
    text-align: left;
    grid-area: text;
}

.news-desktop-text-right {
    display: flex;
    align-items: center;
    text-align: right;
    grid-area: text;
}

/* Updates */
.updates article h3 {
    margin-bottom: 0px;
    font-size: 14px;
}

.updates-images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    margin-bottom: 21px;
    border: 1px solid #8C0510;
}

.updates-images-grid figure img {
    width: 100%;
    display: block;
}

.updates-images-top-left {
    grid-area: top-left;
}

.updates-images-top-right {
    grid-area: top-right;
}

.updates-images-bottom-left {
    grid-area: bottom-left;
}

.updates-images-bottom-right {
    grid-area: bottom-right;
}

.updates-gta-image img {
    width: 100%;
    border: 1px solid #8C0510;
}

/* About us & contact */
.auc-logo {
    display: flex;
    justify-content: center;
}

.auc-subheadings {
    text-align: center;
}

.auc-text {
    text-align: justify;
    margin-bottom: 50px;
}

.auc-visuals {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "image"
        "map";
    gap: 0px;
    border: 1px solid #8C0510;
    margin-bottom: 15px;
}

.auc-picture {
    grid-area: image;
    height: 100%;
}

.auc-picture img {
    width: 100%;
    display: block;
}

.auc-map {
    grid-area: map;
    height: 100%;
}

.auc-map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.auc-form-container {
    display: flex;
    justify-content: center;
}

.auc-form {
    display: flex;
    border: 1px solid #8C0510;
    padding: 24px;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

.auc-form label {
    text-align: left;
    margin-bottom: 8px;
}

.auc-form input {
    margin-bottom: 24px;
}

.auc-form textarea {
    margin-bottom: 24px;
}

.submit-button {
    background-color: #8C0510;
    color: #FFFFFF;
}

/* Responsive: tablet */
@media (min-width: 768px) {
    html {
        margin: 10px 8px 0;
    }

    header {
        margin: 0;
    }
    
    .navbar-icons img {
        width: 66px;
    }

    footer form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-form {
        flex-direction: column;
        justify-content: flex-end;
    }

    .footer-copyright {
        font-size: 100%;
    }

    .catalogue {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

/* Responsive: desktop */
@media (min-width: 1024px) {
    html {
        margin: 10px 10px 0;
    }
    
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: initial;
    }

    .header-desktop ul {
        display: flex;
        flex-direction: row;
        gap: 13px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #8C0510;
    }

    .header-logo {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        border-top: 1px solid #8C0510;
        margin-top: 13px;
    }

    .footer-form {
        display: initial;
    }

    .footer-copyright {
        font-size: initial;
    }

    .footer-label {
        margin-right: 8px;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.17em;
    }

    p {
        font-size: 1em;
    }

    .final-text {
        font-size: 1.17em;
    }

    .catalogue {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 50px 0;
    }

    .news-mobile {
        display: none;
    }

    .news-desktop {
        display: initial;
    }

    .news-desktop article div p {
        font-size: 14px;
    }

    .updates article h3 {
        font-size: 1.17em;
        text-align: center;
    }

    .updates-images-grid {
        margin-bottom: 50px;
    }

    .auc-visuals {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "image map"
    }

    .auc-form {
        width: 25%;
    }
}