/* Fuente Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Nunito", sans-serif; */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000000;
    font-family: "Nunito", sans-serif;
    margin: 10px 10px 0;
}

main {
    margin: 13px 0;
}

ul {
    list-style-type: none;
}

h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}

p {
    color: #FFFFFF;
}

.footer-copyright {
    color: #8C0510;
}

.footer-label {
    color: #FFFFFF;
}

input[placeholder] {
    font-family: Arial, sans-serif;
}

textarea[placeholder] {
    font-family: Arial, sans-serif;
}

a {
    background-color: #8C0510;
    color: #FFFFFF;
    text-decoration: none;
}

.current-page {
    color:#000000;
}

.landing-text {
    text-align: justify;
}

.final-text {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.news-dates-left {
    text-align: left;
}

.news-titles-right {
    text-align: right;
}

.news-text-right {
    display: flex;
    align-items: center;
    text-align: right;
    grid-area: text;
}

.news-titles-left {
    text-align: left;
}

.news-dates-right {
    text-align: right;
}

.news-text-left {
    display: flex;
    align-items: center;
    text-align: left;
    grid-area: text;
}

.auc-subheadings {
    text-align: center;
}

.auc-text {
    text-align: justify;
    margin-bottom: 50px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8C0510;
}

.header-logo {
    width: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid #8C0510;
    margin-top: 13px;
}

.landing-hero-image {
    width: 100%;
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 50px 0px;
    justify-items: center;
}

.catalogue article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue-cars-front img {
    width: 333px;
    height: 249.75px;
}

.catalogue-cars-rear img {
    width: 56px;
    height: 249.75px;
}

.catalogue-cars-images figure img {
    border-radius: 32px;
}

.catalogue-cars-images {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* News */
.news-headings {
    display: flex;
    justify-content: space-between;
}

.news-headings h3 {
    margin-bottom: 0;
}

.news-content-left {
    border: 1px solid #8C0510;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "image text";
    gap: 0px;
}

.news-pictures img {
    width: 100%;
    grid-area: image;
}

.news-content-right {
    border: 1px solid #8C0510;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "text image";
    gap: 0px;
}

/* Updates */
.updates article h3 {
    margin-bottom: 0px;
    text-align: center;
}

.updates-images-grid figure img {
    width: 100%;
}

.updates-gta-image img {
    width: 100%;
    border: 1px solid #8C0510;
}

.updates-images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    margin-bottom: 50px;
    border: 1px solid #8C0510;
}

.updates-images-top-left {
    grid-area: top-left;
}

.updates-images-top-right {
    grid-area: top-right;
}

.updates-images-bottom-left {
    grid-area: bottom-left;
}

.updates-images-bottom-right {
    grid-area: bottom-right;
}

/* About us & contact */
.auc-logo {
    display: flex;
    justify-content: center;
}

.auc-visuals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "image map";
    gap: 0px;
    border: 1px solid #8C0510;
    margin-bottom: 15px;
}

.auc-picture {
    grid-area: image;
    height: 100%;
}

.auc-picture img {
    width: 100%;
    display: block;
}

.auc-map {
    grid-area: map;
    height: 100%;
}

.auc-map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.auc-form-container {
    display: flex;
    justify-content: center;
}

.auc-form {
    display: flex;
    border: 1px solid #8C0510;
    padding: 24px;
    flex-direction: column;
    width: 25%;
    align-content: center;
}

.auc-form label {
    margin-bottom: 8px;
}

.auc-form input {
    margin-bottom: 24px;
}

.auc-form textarea {
    margin-bottom: 24px;
}

.submit-button {
    background-color: #8C0510;
    color: #FFFFFF;
}